.icono-principal{
	width: 50px!important;
    height: 50px!important;
    border-radius: 37px;
    /*margin-left: 10px;*/
}

.icono-oks{
    margin-left: 10px;
    width: 67px;
}

.titulo-page{
	color: #fff;
	font-size: 15pt;
}

.titulo-uno{
	font-weight: bold;
}

.texto-blanco{
	color: #fff!important;
}

.hide{
	 display: none;
}

.visible{
	display: block;
}

.invisible{
	display: none;
}

.centrado{
	text-align:center;
}

.justificado{
	text-align: justify;
}

.flotar_izquierda{
    float: left;
    margin-right: 5px;
}
.flotar_izquierda2{
    float: left;
}
.login-box{
	margin-top: 70px;
}

.mg-b20{
	margin-bottom: 20px!important;
}

.img_slider, .galeria_img, .img_load, .img_principal, .img_galeria{
	border-radius: 5px;
	/*border: 2px dashed #1112c5;*/
	border: 2px dashed #0087be;

	background: white;
}

.img_load{
	width: 300px;
    height: 200px;
    margin: 0 auto;
}

.img_preview {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.div-cat{
	padding-top: 30px;
}

.cuerpo-btn{
	padding: 10px;
	color:#fff;
}

.img-galeria{
	height: 194px!important;
}

.eliminar-img{
	color: #f60540;
	cursor: pointer;
}

.imgbiblioteca_principal{
	max-height: 180px;
}
.asterisco_rojo {
    color: #f40404;
    float: left;
    font-size: 10pt;
    margin-right: 5px;
}
.asterisco{
	width: 5%;
	float: left;
}
.div_wisig{
    border: solid 1px #eee;
    padding: 10px;
    height: 114px;
    max-height: 114px;
    overflow-x: hidden;
    cursor: pointer;
}
.img_principal, .img_slider {
    width: 100%;
    height: 275px;
    margin: 0 auto;
    line-height: 250px;
    text-align: center;
}

.imgbiblioteca{
	border-radius: 17px;
	width: 150%;
	height: 150px;
	padding: 5px;
	float:left;
}

.img_noticias {
    border-radius: 17px;
    /*width: 55%;*/
    width:auto;
    height: 200px;
    /* height: auto; */
    padding: 5px;
}

.mg-b30{
	margin-bottom: 30px!important;
}

.btn-new{
	float: right;
}

.titulo-dashboard h2{
	text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.img-dahsboard {
    width: 50%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
}

.whiteSection .featuredCollection .thumbnail .imageWrapper img, .mainContent .featuredCollection .thumbnail .imageWrapper img {
    /* transition: all .1s ease-in-out; */
    width: 100%;
}

.divbiblioteca{
	padding-top:10px;
	cursor:pointer;
	text-align: center;
}

.container-fluid{
	max-height: 100vh;
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #fff!important;
    font-weight: 500;
}
.modal-header .close {
    padding: 1rem!important;
    margin: -1rem -1rem -1rem auto!important;
}
.padding40 {
    padding-bottom: 40px;
}
#cuerpo-img-galeria{
    max-height: 400px;
    overflow-x: hidden;
}